*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --font-family: "Fira Sans Condensed", sans-serif;
  --second-family: "Oswald", sans-serif;
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: end;
  column-gap: 30px;
  box-sizing: border-box;
  width: 1140px;
}

.result__video {
  width: 100%;
  max-height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 16px;
}
.search-form__fieldset {
  max-width: 255px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 399px;
  height: 298px;
  overflow-y: scroll;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  padding: 3px 0 23px 0;
  color: #fff;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  position: relative;
  width: 711px;
  max-height: 386px;
  padding-bottom: 12px;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  align-items: start;
  cursor: pointer;
}

.content__video-card-thumbnail {
  min-width: 197px;
  max-height: 107px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  max-width: 195px;
  overflow: hidden;
  color: #fff;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  max-width: 199px;
  margin: 0;
  padding-top: 6px;
  overflow: hidden;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  margin: 5px 0px 0 0px;
}
.search-form__label-text {
  margin-left: 2px;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 1.5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  margin-top: 5px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover:has(.search-form__label-text) {
  text-decoration: underline;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
  height: 34px;
}

.more-button {
  width: 100%;
  min-height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link {
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding: 0px 3px;
}

.content__card-link_current {
  background-color: #545050;
}
